<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.iiitd.madhur15030.testnotification"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PingService"
            android:enabled="true"
            android:label="PingServiceLabel"></service>

        <activity
            android:name=".ResultActivity"
            android:excludeFromRecents="true"
            android:label="Take Action"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity android:name="in.ac.iiitd.madhur15030.testnotification.TempActivity"></activity>
    </application>

</manifest>